<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>History - FileShare</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='show_history.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.min.css') }}">
    </head>
    <body>
        <div class="row">
            <div class="small-6 columns">
                <span>yup</span>
            </div>
            <div class="small-6 columns">
                <span>nope</span>
            </div>
        </div>
    </body>
</html>
