<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>History - FileShare</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.min.css') }}">
    </head>
    <body>
        <div class="row">
            <div class="small-12 medium-6 columns">
                <h3 class="text-center">Last Uploaded</h3>
                <table id="upload-table">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Last Viewed</th>
                            <th>Last Added</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in upload_items %}
                        <tr>
                            <td>htht</td>
                            <td>htht1</td>
                            <td>htht2</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="small-12 medium-6 columns">
                <h3 class="text-center">Last Viewed</h3>
                <table id="view-table">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Last Viewed</th>
                            <th>Last Added</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in viewed_items %}
                        <tr>
                            <td>htht</td>
                            <td>htht1</td>
                            <td>htht2</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
