<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>History - FileShare</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.min.css') }}">
    </head>
    <body>
        <div class="row">
            <div class="small-12 medium-6 columns">
                <h3 class="text-center">Last Uploaded</h3>
                <table id="upload-table">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Last Viewed</th>
                            <th>Creation Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in upload_items %}
                        <tr>
                            <td><a style="word-wrap: break-word;" href="{{ item.url }}">{{ item.filename }}</a></td>
                            <td><time class="timeago" datetime="{{ item.last_seen }}">{{ item.last_seen }}</time></td>
                            <td><time class="timeago" datetime="{{ item.created_time }}">{{ item.created_time }}</time></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="small-12 medium-6 columns">
                <h3 class="text-center">Last Viewed</h3>
                <table id="view-table">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Last Viewed</th>
                            <th>Creation Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in viewed_items %}
                        <tr>
                            <td><a style="word-wrap: break-word;" href="{{ item.url }}">{{ item.filename }}</a></td>
                            <td><time class="timeago" datetime="{{ item.last_seen }}">{{ item.last_seen }}</time></td>
                            <td><time class="timeago" datetime="{{ item.created_time }}">{{ item.created_time }}</time></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='foundation.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.timeago.js') }}"></script>
        <script>$(document).foundation();</script>
        <script>$(document).ready(function(){$("time.timeago").timeago();});</script>
    </body>
</html>
