<!doctype html>
<html lang="en">
	<head>
		<title>FileShare</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foundation.min.css') }}">
	</head>
	<body>
		<div class="row">
			<div id="title-row" class="small-12 columns text-center">
				<h1>FileShare</h1>
			</div>
		</div>
	
	    <form id="fileupload-form" name="fileupload-form" action="{{ upload_url }}" method="POST">
			<div id="file-input" class="row">
				<div class="small-12 small-centered medium-8 columns text-centered">
                    <input id="fileupload" name="filedata" type="file"></input>
				</div>
			</div>
			<div class="row">
				<div class="small-4 small-centered columns text-center">
					<button id="submit-button">Upload</button>
				</div>
			</div>
            <div class="row">
                <div class="small-12 small-centered medium-8 columns">
                    <div id="progress-bar" class="progress">
                        <span id="progress-meter" class="meter" style="width: 50%"></span>
                    </div>
                </div>
            </div>
		</form>
		<div class="row">
		    <div class="small-12 small-centered medium-8 columns">
				<div id="file-link" class="callout panel" style="display:none;"></div>
			</div>
		</div>
		<script src="{{ url_for('static', filename='jquery-2.1.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='foundation.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery.form.min.js') }}"></script>
		<script src="{{ url_for('static', filename='upload_file.js') }}"></script>
	</body>
</html>
